* {
    margin: 0;
    padding: 0;
    font-family: "futura md bt";
    text-decoration: none;
    list-style: none;
    box-sizing:border-box;
    
    
}
body {
    background: rgb(0, 0, 0);

    
    justify-content: center;
    align-items: center;
    height: 100vh;

   
  
}
.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: block;
    flex-direction: row;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    flex-wrap: wrap;
    align-content:center;
    align-items: center;
    overflow:hidden;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-text {
    font-size: 1rem;
    text-align: center;
    flex-grow: 1;
}
body h1{

    color: #fff;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    color:#fffcfc;
    justify-content: center;
    display: flex;
    margin-bottom: 0.5rem;
    font-weight: 500;
     line-height: 1.2; 
    color: var(--bs-heading-color);
}

.btn-primary {
    background-color: RGB(223, 28, 28);
    border: 2px;
    font-weight: bold;
    width: 100%;
    border-radius: 1px;
}

.row{
  margin: 0;
}

.container-fluid{
    padding: 2px;
    margin: auto;
}
.form-control {
    display: block;
    width: 50%;
    padding: 0.75rem 0.75rem;
    margin: auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.img{

  
   width: 100%;
   height: 100%;
    padding: 30px;
    text-align: center;

}
.cards-container{
   
    background-color: #fff;
    display: flex;
    padding: 30px ;
    flex-direction: column;
    margin: 30px 30px 30px 30px;
    border-radius: 4px 4px 4px 4px;
    
}





.btn-primary{
    background-color: #6f6666;
    border:2px #000000;
}
.btn-primary :hover{
    background-color: #000000;
    border-color: #000000;
}
header {
    background: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header .Logo {
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 3%;
}
header nav ul {
    display: flex;
}
header nav ul li a {
    display: inline-block;
    color: #fffcfc;
    
    padding-top:10px;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.5s;
}
header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: rgb(220, 232, 244);
}
.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 5px;
    background: #000;
}
@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    .hamburger.line{
        
        width: 30px;
        height: 3px;
        background: #fff;
        margin:6px 0;
    }
    .navbar{
        height: 0.3px;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100vx;
        background:#000000;
        transition: 0.2s;
        overflow: hidden;
    }


    
.navbar.nav-link{
    height: 450px;
}

.navbar.nav-link ul{
    opacity: 1;
}



    .navbar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        color: #fff;
    }
    .navbar ul li a{

        margin-bottom: 12px;



    }
}